@use 'variables' as *;
//Composition
.container{
  //the first and five card's icon
  .card-container > .card:nth-child(1) img {
    top: -0.625rem;
  }

  .card-container > .card:nth-child(5) img{
    top: -0.75rem;
  }

  .card{
    position: relative;
    overflow: hidden;
    display: grid;
    align-items: end;
      .bg-color{
        position: absolute;
        inset: 0 0 1.5rem 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    
      img{
        position: absolute;
        top: -3px;
        z-index: 0;
        right: 0.625rem;
      }

      .info{
        padding: 1.75rem $fs-24;
        position: relative;
      }

      .settings,
      .info-activity{
        @include flex-row-between;
      }

      .settings{
        margin-block-end: 0.375rem;
      }

      .settings h2{
        font-size: $fs-18;
      }

      .info-activity span{
        font-size: $fs-32;
      }

      .info-activity p{
        font-size: $fs-15;
      }
  }
    @media screen and (max-width: 1023px) {
      margin: 5.0625rem $fs-24;
      .card{
        padding-block-start: $fs-40;
      }
      .name-card{
        @include flex-row;
        gap: 1.25rem;
        padding: 2.1875rem $fs-40 $fs-32 $fs-32;
          .name-box span{
            font-size: $fs-15;
          }

          .name-box h1{
            font-size: $fs-24;
          }
      }

      .btn-box{
        @include flex-row-between;
        gap: $fs-32;
        padding: $fs-24 $fs-32;
          & > button{
            font-size: $fs-18;
          }
      }

      .card-container{
        margin-block-start: $fs-24;
          & > .card:not(:last-child){
            margin-block-end: $fs-24;
          }
        }
    }

    
    @media screen and (min-width: 768px) and (max-width:1023px) {
      //margin-inline of the container
      margin-inline: calc(10rem + 5vw);
    }

    @media screen and (min-width: 1024px) {
      //margin-inline of the container
      margin-inline: $fs-32;
      @include  flex-row;
      align-items: stretch;
      gap: 1.875rem;

      .name-card{
        @include flex-column;
        align-items: start;
        padding: $fs-32 $fs-32 5rem $fs-32;
        gap: $fs-40;
          .name-box h1{
            font-size: $fs-40;
            max-width: 10ch;
          }
      }

      .btn-box{
        padding-block: 1.625rem $fs-32;
        padding-inline-start: $fs-32;
        @include flex-column;
        align-items: start;
        gap: 1.25rem;
          & > button{
            cursor: pointer;
            transition:color 0.2s ease;
            &:hover{
              color: $white;
            }
          }
      }
      .card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.875rem;

          .card{
            padding-block-start: 2.8125rem;
            .info{
              padding: $fs-32;
              padding-inline-end: 2.1875rem;
              transition: background-color 0.2s ease;
              cursor: pointer;
                &:hover{
                  background-color: $bg-blue-card-hover;
                }
            }

            //three dots (option) inside each card
            .dots,
            .dots path{
              transition: fill 0.2s ease;
                &:hover path{
                  fill: $white;
                }
            }

            .info-activity{
              flex-direction: column;
              align-items: start;
            }
          }
      }
    }

    @media screen and (min-width: 1200px) {
      .card{
        width:15.9375rem;
        .info-activity{
          & span{
            font-size: $fs-56;
          }
      }
      }
    }
}